@import "tailwindcss";

/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/dm-sans-v17-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/dm-sans-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/dm-sans-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  src: url("assets/fonts/dm-sans-v17-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/bricolage-grotesque-v9-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@theme {
  /* Font sizes */
  --fs-96: calc(96 / 16 * 1rem);
  --fs-52: calc(52 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
}

:root {
  /* Neutral */
  --color-neutral-900-hsl: hsl(243 96% 9%);
  --color-neutral-800-hsl: hsl(243 27% 20%);
  --color-neutral-700-hsl: hsl(243 23% 24%);
  --color-neutral-600-hsl: hsl(243 23% 30%);
  --color-neutral-300-hsl: hsl(243 6% 70%);
  --color-neutral-200-hsl: hsl(243 6% 84%);
  --color-neutral-0-hsl: hsl(0 0% 100%);
  /* Orange */
  --color-orange-500-hsl: hsl(28 100% 52%);

  /* Blue */
  --color-blue-500-hsl: hsl(233 67% 56%);
  --color-blue-700-hsl: hsl(248 70% 36%);
}
body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
}
h1,
h2,
h3 {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
}

/* Background for CurrentForecast Small */
.cureent-forecast {
  background-image: url("./assets/images/bg-today-small.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Background for CurrentForecast Medium and Large */
@media (min-width: 768px) {
  .cureent-forecast {
    background-image: url("./assets/images/bg-today-large.svg");
  }
}
